
<div class="main-content">
  <div class="card-body">
      <div class="card">
          <div class="card-header card-header-danger">
              <h4 class="card-title">Programmer des envoies</h4>
              <p class="card-category">Programmer l'envoie d'une génération d'un rapport</p>
          </div>
                  <div class="card-body">
                  </div>
       </div>
  </div>
  <a href="#/programmer"><button mat-raised-button type="submit" class="btn btn-rose pull-left">Programmer un envoie</button></a>

        <div class="table-responsive">
            <table class="table">
                <thead class=" text-primary">
                    <td>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="" >
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                    </td>
                    <th>
                        Programme
                    </th>
                    <th>
                       Description
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Actions
                    </th>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div> 
        <br>     
        <div class="iframe-container d-none d-lg-block">
                          <!--<iframe src="https://material.io/design/iconography/system-icons.html#grid-and-keyline-shapes">
                              <p>Your browser does not support iframes.</p>
                          </iframe>-->
                      </div>
                      <div class="col-md-12 d-none d-sm-block d-md-block d-lg-none d-block d-sm-none text-center ml-auto mr-auto">
                          <h5>The icons are visible on Desktop mode inside an iframe. Since the iframe is not working on Mobile and Tablets please visit the icons on their original page on Google. Check the
                              <a href="https://fonts.google.com/icons" target="_blank">Material Icons</a>
                          </h5>
                      </div>
                  
             
          </div>
